__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

private_key.pem
audit_log.jsonl
*.pth
*.log
test_results/
.ipynb_checkpoints/

*.csv
*.xlsx

giang_code/

models/
/data

*.sarif
trivy-*.json

semgrep-results.json

coverage.xml
htmlcov/
.coverage
test-results.xml

cosign.key
cosign.pub

